@model WebApplication1.Dto.GeneralStatusDto

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<div>
    <h4>GeneralStatusDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentsQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentsQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveAgents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveAgents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TargetsQuantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TargetsQuantity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EliminatedTargetsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EliminatedTargetsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MissionsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MissionsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActiveMissionsCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActiveMissionsCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AgentsToTargetsRatio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AgentsToTargetsRatio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InactiveAgentsToTargets)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InactiveAgentsToTargets)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("AgentsStatus", "AgentsStatus") |
    @Html.ActionLink("TargetsStatus", "TargetsStatus")

</div>
